<!-- Início de uma linha no layout -->
<div class="row">
  <!-- Coluna que ocupa 12 colunas em telas extra pequenas (xs) -->
  <div class="col-xs-12">
    <!-- Imagem responsiva da receita, ajusta-se ao tamanho do container com altura máxima de 300px -->
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div>

<!-- Início de uma nova linha no layout -->
<div class="row">
  <!-- Coluna que ocupa 12 colunas em telas extra pequenas (xs) -->
  <div class="col-xs-12">
    <!-- Título da receita exibido como cabeçalho -->
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<!-- Início de uma nova linha no layout -->
<div class="row">
  <!-- Coluna que ocupa 12 colunas em telas extra pequenas (xs) -->
  <div class="col-xs-12">
    <!-- Grupo de botões para ações relacionadas à receita -->
    <div class="btn-group" appDropdown>
      <!-- Botão principal com dropdown para ações adicionais -->
      <button type="button" class="btn btn-primary" dropdown-toggle>
        Gerenciar Receita <span class="caret"></span>
      </button>
      <!-- Menu dropdown com links para diferentes ações -->
      <ul class="dropdown-menu">
        <li><a href="#">Adicionar à lista de compras</a></li>
        <li><a href="#">Editar Receita</a></li>
        <li><a href="#">Excluir Receita</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Início de uma nova linha no layout -->
<div class="row">
  <!-- Coluna que ocupa 12 colunas em telas extra pequenas (xs) -->
  <div class="col-xs-12">
    <!-- Descrição da receita -->
    {{ recipe.description }}
  </div>
</div>

<!-- Início de uma nova linha no layout -->
<div class="row">
  <!-- Coluna que ocupa 12 colunas em telas extra pequenas (xs) -->
  <div class="col-xs-12">
    <!-- Seção que apresenta os ingredientes da receita -->
    Ingredientes
  </div>
</div>
