<!-- Início de uma linha no layout -->
<div class="row">
  <!-- Coluna que ocupa 12 colunas em telas extra pequenas (xs) -->
  <div class="cox-xs-12">
    <!-- Imagem responsiva que se ajusta ao tamanho do container -->
    <img src="" alt="" class="img-responsive" />
  </div>
</div>

<!-- Início de uma nova linha no layout -->
<div class="row">
  <!-- Coluna que ocupa 12 colunas em telas extra pequenas (xs) -->
  <div class="col-xs-12">
    <!-- Título da receita -->
    <h1>Nome da Receita</h1>
  </div>
</div>

<!-- Início de uma nova linha no layout -->
<div class="row">
  <!-- Coluna que ocupa 12 colunas em telas extra pequenas (xs) -->
  <div class="col-xs-12">
    <!-- Grupo de botões, geralmente usado para ações agrupadas -->
    <div class="btn-group">
      <!-- Botão principal com um dropdown para ações adicionais -->
      <button type="button" class="btn btn-primary" dropdown-toggle>
        Gerenciar Receita <span class="caret"></span>
      </button>
      <!-- Menu dropdown com links para diferentes ações -->
      <ul class="dropdown-menu">
        <li><a href="#">Para a lista de compras</a></li>
        <li><a href="#">Editar Receita</a></li>
        <li><a href="#">Excluir receita</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Início de uma nova linha no layout -->
<div class="row">
  <!-- Coluna que ocupa 12 colunas em telas extra pequenas (xs) -->
  <div class="col-xs-12">
    <!-- Texto ou conteúdo relacionado à descrição da receita -->
    Descrição
  </div>
</div>

<!-- Início de uma nova linha no layout -->
<div class="row">
  <!-- Coluna que ocupa 12 colunas em telas extra pequenas (xs) -->
  <div class="col-xs-12">
    <!-- Texto ou conteúdo relacionado aos ingredientes da receita -->
    Ingredientes
  </div>
</div>
