<!-- Início de uma linha no layout -->
<div class="row">
  <!-- Coluna que ocupa 12 colunas em telas extra pequenas (xs) -->
  <div class="col-xs-12">
    <!-- Botão com estilo Bootstrap que permite criar uma nova receita -->
    <button class="btn btn-success">Nova Receita</button>
  </div>
</div>

<!-- Linha horizontal para separar visualmente as seções -->
<hr />

<!-- Início de outra linha no layout -->
<div class="row">
  <!-- Coluna que ocupa 12 colunas em telas extra pequenas (xs) -->
  <div class="col-xs-12">
    <!-- Componente Angular app-recipe-item repetido para cada receita na lista de receitas -->
    <app-recipe-item *ngFor="let recipeEl of recipes" [recipe]="recipeEl">
    </app-recipe-item>
  </div>
</div>
