<!-- Início de uma linha (row) no layout usando o sistema de grid do Bootstrap -->
<div class="row">
  <!-- Primeira coluna que ocupa 5 das 12 colunas disponíveis em dispositivos de tamanho médio (md) -->
  <div class="col-md-5">
    <!-- Componente Angular que exibe a lista de receitas e emite um evento ao selecionar uma receita -->
    <app-recipe-list
      (recipeWasSelected)="selectedRecipe = $event"
    ></app-recipe-list>
  </div>
  <!-- Segunda coluna que ocupa 7 das 12 colunas disponíveis em dispositivos de tamanho médio (md) -->
  <div class="col-md-7">
    <!-- Componente Angular que exibe os detalhes da receita selecionada, caso haja uma -->
    <app-recipe-detail
      *ngIf="selectedRecipe; else infoText"
      [recipe]="selectedRecipe"
    ></app-recipe-detail>
    <!-- Mensagem informativa exibida quando nenhuma receita está selecionada -->
    <ng-template #infoText>
      <p>Please select a Recipe!</p>
    </ng-template>
  </div>
</div>
