<!-- Início de uma linha no layout, utilizando o sistema de grid do Bootstrap para organização -->
<div class="row">
  <!-- Coluna que ocupa 10 das 12 colunas disponíveis no grid, garantindo adaptação a diferentes tamanhos de dispositivo -->
  <div class="col-xs-10">
    <!-- Componente Angular responsável pela edição de itens na lista de compras, permitindo a adição e modificação de ingredientes -->
    <app-shopping-edit></app-shopping-edit>
    <!-- Linha horizontal (hr) para separar visualmente diferentes seções da interface do usuário -->
    <hr />
    <!-- Início de uma lista de itens agrupados, utilizando a classe 'list-group' do Bootstrap para estilização consistente -->
    <ul class="list-group">
      <!-- Cada item da lista é um link estilizado, configurado para parecer um item de lista e exibir um cursor de ponteiro ao passar o mouse -->
      <!-- A diretiva *ngFor do Angular gera este item repetidamente para cada ingrediente presente na lista 'ingredients' -->
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients"
      >
        <!-- Exibe o nome do ingrediente e sua respectiva quantidade, formatados entre parênteses -->
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
