<!-- Início de uma linha no layout utilizando o sistema de grid do Bootstrap -->
<div class="row">
  <!-- Coluna que ocupa 10 das 12 colunas disponíveis, adaptando-se para todos os tamanhos de dispositivo -->
  <div class="col-xs-10">
    <!-- Componente Angular responsável pela edição de itens na lista de compras -->
    <app-shopping-edit
      (ingredientAdded)="onIngredientAdded($event)"
    ></app-shopping-edit>
    <!-- Linha horizontal para separar visualmente diferentes seções da interface -->
    <hr />
    <!-- Início de uma lista em grupo, utilizando a classe 'list-group' do Bootstrap para estilização -->
    <ul class="list-group">
      <!-- Item da lista representado como um link, estilizado como item de lista e com cursor de ponteiro -->
      <!-- A diretiva *ngFor do Angular repete este item para cada ingrediente na lista de ingredientes -->
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients"
      >
        <!-- Exibição do nome e da quantidade de cada ingrediente na lista -->
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
